header.user-header {
  height: 400px;
  width: 100%;
  background-image: url("/images/header-background.png");
  background-size: auto;
  background-position: center;
  background-color: rgb(235, 174, 61);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

header .user-name {
  font-size: 2.0em;
  color: white;
  font-weight: normal;
  display: flex;
  align-items: center;
}