.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.new-tweet header h2 {
  font-size: 1.2em;
}

.counter {
  display: flex;
  justify-content: flex-end;
  font-family: 'Bungee', sans-serif;
}

.new-tweet button {
  background-color: #4056A1;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Bungee', sans-serif;
}

.submit-tweet-counter {
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 35em;
  height: 90px;
  border: none;
  border-bottom: 3px solid rgb(90, 90, 90);
  background-color: transparent;
  padding: 5px;
  margin-bottom: 10px;
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  display: flex;
  justify-content: flex-start;
  color: rgb(71, 71, 71);
}

textarea:focus {
  outline: none;
  border-bottom: 3px solid rgb(90, 90, 90);
}

/* Tweet Styles */

article.tweet {
  font-weight: bold;
  margin-top: 80px;
  border: 4px solid rgb(76, 72, 72);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
}

article.tweet:hover {
  box-shadow: 10px 5px 5px rgba(78, 78, 78, 0.397);
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.content-left img {
  margin-right: 20px;
}

article.tweet footer {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: 4px solid rgb(76, 72, 72);
}

footer .footer-right i {
  color: rgb(99, 99, 235);
  margin-right: 5px;
  font-size: 1.5em;
  cursor: pointer;
}

footer .footer-right i:hover {
  color: darkred;
  margin-right: 5px;
}

footer .icon.fas.fa-heart {
  color: red;
  animation: firework 1s ease;
}

@keyframes firework {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.content-mid p {
  padding-left: 20px;
}

.user-account {
  color:rgba(139, 131, 172, 0.568)
}

.user-info {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: #fff;
  background-color: #e74c3c;
  border: 1px solid #c0392b;
  padding: 15px;
  margin-bottom: 20px;
  display: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}